<ng-container *ngIf="authenticated$ | async; else emptyState">
  <h2 class="mat-display-1">You are logged in!</h2>
  <p class="mat-body-1">TODO: collect weather params and use api to display results</p>
</ng-container>
<ng-template #emptyState>
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center start">
    <app-weather-illustration fxFlex="100"></app-weather-illustration>
    <h2 class="mat-display-1" fxFlex="100">Fast and easy weather</h2>
    <p class="mat-body-1" fxFlex="100">Sign in to quickly find weather information for any location!</p>
    <button mat-raised-button color="accent" (click)="login()">
      <mat-icon class="icon-prefix">login</mat-icon>
      <span>LOGIN</span>
    </button>
  </div>
</ng-template>
