<mat-toolbar color="primary" fxLayoutGap="8px">
  <h1>App Title</h1>
  <span fxFlex></span>
  <button mat-icon-button [matTooltip]="(darkMode$ | async) ? 'Switch to light theme' : 'Switch to dark theme'" (click)="switchTheme()">
    <mat-icon>{{ (darkMode$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <a mat-icon-button matTooltip="User settings" [routerLink]="['settings']">
    <mat-icon>settings</mat-icon>
  </a>
  <button *ngIf="authenticated$ | async; else loginButton" mat-stroked-button (click)="logout()">
    <mat-icon class="icon-prefix">logout</mat-icon>
    <span>LOGOUT</span>
  </button>
  <ng-template #loginButton>
    <button mat-stroked-button (click)="login()">
      <mat-icon class="icon-prefix">login</mat-icon>
      <span>LOGIN</span>
    </button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
