@use 'sass:map';
@use '~@angular/material' as mat;

@mixin theme($theme) {
  $config: mat.get-color-config($theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  .mat-toolbar.mat-primary .mat-stroked-button {
    color: map.get($primary, default-contrast);
    border-color: map.get($primary, default-contrast);
  }
}
