@use 'sass:map';
@use '~@angular/material' as mat;

@use '../app/app-theme' as app-theme;
@use './palette' as palette;
@use './custom-typography' as typography;

@include mat.core(typography.$custom-typography);

// Create the theme object
$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: palette.$primary,
      accent: palette.$accent,
    ),
    typography: typography.$custom-typography,
  )
);

// Include theme styles
@include mat.all-component-themes($app-light-theme);
@include app-theme.theme($app-light-theme);

$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: palette.$primary,
      accent: palette.$accent,
    ),
    typography: typography.$custom-typography,
  )
);

.dark-mode {
  @include mat.all-component-themes($app-dark-theme);
  @include app-theme.theme($app-dark-theme);

  $background: map.get($app-dark-theme, background);
  $foreground: map.get($app-dark-theme, foreground);
  color: mat.get-color-from-palette($foreground, text);
  background-color: mat.get-color-from-palette($background, card);
}
