html,
body,
app-root {
  height: 100%;
  width: 100%;
}

button .icon-prefix {
  margin-right: 8px;
}

// Fix vertical alignment for buttons with Spartan font
.mat-button,
.mat-flat-button,
.mat-stroked-button,
.mat-raised-button {
  .mat-button-wrapper {
    position: relative;
    top: 2px;

    // For those that have an icon,
    // shift it back up to stay centered
    & > .mat-icon {
      position: relative;
      top: -2px;
    }
  }
}
